<div [id]="id" class="situation-header">{{ header }}</div>
<div class="tip" *ngFor="let tip of tips; index as i">
  <img class="tip-image" [src]="tip.imageSource">
  <div class="tip-summary">
    <span *ngIf="hasMultipleTips">{{ i + 1 }}. </span>
    {{ tip.summary }}
  </div>
  <div *ngFor="let line of tip.descriptionLines">{{ line }}</div>
</div>
<div class="ref-section">
  <div class="ref-section-header">参考情報</div>
  <div class="reference" *ngFor="let ref of references">
    <div>{{ ref.title }}</div>
    <a [href]="ref.url">{{ ref.url }}</a>
  </div>
</div>
