.main-bg-image {
  max-width: 80%;
}

.bird-image {
  max-width: 60%;
}

.divider {
  width: 40%;
}

div {
  font-family: sans-serif;
  color: #333333;
}

.agenda-list {
  padding-left: 30px;

  fa-icon {
    margin-right: 10px;
  }
}
