<div class="p-grid">
  <div class="p-lg-4 p-lg-offset-4 p-md-6 p-md-offset-3 p-sm-8 p-sm-offset-2 p-col-12">
    <div class="p-grid p-dir-col" style="background-color: aqua">
      <div class="p-col">top image</div>
      <div class="p-col">introduction</div>
      <div class="p-col">bird image</div>
      <div class="p-col">guide</div>
      <div class="p-col">separator</div>
      <div class="p-col">agenda</div>
      <div class="p-col">separator</div>
      <div class="p-col">contents</div>
    </div>
  </div>
</div>
