<div class="p-grid p-justify-center">
  <div class="p-lg-5 p-md-6 p-sm-8 p-col-12">
    <div class="p-grid p-dir-col" style="background-color: #fff4c9">
      <div class="p-col p-grid p-justify-center"><img src="../assets/main_background.png" class="main-bg-image"></div>
      <div class="p-col">
        <p>私たちは遠く離れて暮らしているあなたを心配しています。気をつけるだけでなく、具体的に何をすべきか私たちの経験を元にまとめました。</p>
        <p>「やりすぎくらい」でもいいです。</p>
        <p>また笑顔でみんなに会えることを願って、このサイトをあなたに届けます。</p>
      </div>
      <div class="p-col p-grid p-justify-center"><img src="../assets/bird.png" class="bird-image"></div>
      <div class="p-col">
        <p>外出するとき、仕事に行くとき、人と会うとき。シチュエーションに合わせたコロナウイルスの予防をまとめましたので、普段の行動を振り返りながらチェックしてください。</p>
      </div>
      <div class="p-col p-grid p-justify-center"><img src="../assets/divider.png" class="divider"></div>
      <div class="p-col">
        <h4>目次</h4>
        <div class="agenda-list">
          <div *ngFor="let situation of situations"><fa-icon [icon]="faCaretRight"></fa-icon><a href="#{{ situation.id }}">{{ situation.header }}</a></div>
        </div>
      </div>
      <div class="p-col p-grid p-justify-center"><img src="../assets/divider.png" class="divider"></div>
      <div class="p-col" *ngFor="let situation of situations">
        <app-situation [situationBlock]=situation></app-situation>
        <div class="p-col p-grid p-justify-center"><img src="../assets/divider.png" class="divider"></div>
      </div>
      <div class="p-col">最後に</div>
      <div class="p-col p-grid p-justify-center"><img src="../assets/divider.png" class="divider"></div>
      <div class="p-col">目次へ戻る</div>
      <div class="p-col">問い合わせ</div>
      <div class="p-col">この記事をシェアする</div>
      <div class="p-col">©2020 Make 2020 Better</div>
    </div>
  </div>
</div>
