body {
  font-family: sans-serif;
  color: #333333;
}

img {
  max-width: 100%;
}

.content-container {
  padding-top: 60px;
}

.top-copy {
  max-width: 430px;
  position: relative;
  text-align: center;
  font-size: 1.25em;
  line-height: 2em;

  .copy-container {
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .main-phrase {
      font-size: 2em;
    }

    .sub-phrase {
      letter-spacing: 0.2em;
      margin-right: -0.2em;
    }
  }
}

.full-justify {
  text-align:justify;

  &:after {
    content: "";
    display: inline-block;
    width: 100%;
  }
}

.bird-image {
  max-width: 60%;
}

.divider {
  width: 40%;
}


.agenda-list {
  padding-left: 30px;

  fa-icon {
    margin-right: 10px;
  }
}
