body {
  font-family: sans-serif;
  color: #333333;
  line-height: 1.875em;
  margin: 0;
  background-color: #FFFFFF;
}

img {
  max-width: 100%;
}

.content-container {
  padding-top: 60px;
}

.top-copy {
  max-width: 430px;
  position: relative;
  text-align: center;
  font-size: 1.25em;
  line-height: 2em;
  margin-bottom: 60px;

  .copy-container {
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .main-phrase {
      font-size: 2em;
    }

    .sub-phrase {
      letter-spacing: 0.2em;
      margin-right: -0.2em;
    }
  }
}

.bird-image {
  max-width: 60%;
  margin-top: 92px;
  margin-bottom: 92px;
}

.divider {
  width: 40%;
  margin-top: 60px;
  margin-bottom: 60px;
}

.agenda {
  div {
    line-height: 3em;
  }

  &-list {
    padding-left: 30px;

    fa-icon {
      margin-right: 15px;
    }
  }
}

.situation-header {
  font-size: 1.5em;
  font-weight: 600;
  line-height: 1.23em;
  margin-bottom: 10px;
}

.tip {
  margin-bottom: 80px;

  &-image {
    margin-bottom: 15px;
  }

  &-summary {
    font-size: 1.25em;
    line-height: 1.33em;
    margin-bottom: 20px;
  }
}

.ref-section {
  margin-bottom: 20px;

  &-header {
    font-weight: 600;
  }
}

.reference {
  margin-top: 20px;
}

.contact {
  margin-top: 60px;
  margin-bottom: 60px;
}

.footer {
  background-color: #FDE6E0;
  padding-top: 35px;
  padding-bottom: 45px;

  .share-page {
    font-size: 0.875em;
  }

  .sns-share, .copy-right {
    font-size: 0.75em;
  }
}

.full-justify {
  text-align:justify;

  &:after {
    content: "";
    display: inline-block;
    width: 100%;
  }
}
