body {
  font-family: sans-serif;
  color: #333333;
  line-height: 1.875em;
  margin: 0;
  background-color: #FFFFFF;
}

img {
  max-width: 100%;
}

.content-container {
  padding-top: 60px;
  padding-right: 20px;
  padding-left: 20px;

  .side-pad-0 {
    padding-left: 0;
    padding-right: 0;
  }
}

.top-copy {
  max-width: 430px;
  position: relative;
  text-align: center;
  line-height: 2em;
  margin-bottom: 60px;

  .copy-container {
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .main-phrase {
      font-size: 2em;
    }

    .sub-phrase {
      font-size: 1.2em;
      letter-spacing: 0.2em;
      margin-right: -0.2em;
    }

    &.small-width {
      .main-phrase {
        font-size: 8vw;
      }

      .sub-phrase {
        font-size: 4.4vw;
      }
    }
  }
}

.bird-image {
  max-width: 60%;
  margin-top: 92px;
  margin-bottom: 92px;
}

.divider {
  width: 40%;
  margin-top: 60px;
  margin-bottom: 60px;
}

.agenda {
  div {
    line-height: 3em;
  }

  &-list {
    padding-left: 30px;

    fa-icon {
      margin-right: 15px;
    }
  }
}

.situation-header {
  font-size: 1.5em;
  font-weight: 600;
  line-height: 1.23em;
  margin-bottom: 10px;
}

.text-center {
  text-align: center;
}

.tip {
  margin-bottom: 80px;

  &-image {
    margin-bottom: 15px;
  }

  &-summary {
    font-size: 1.25em;
    line-height: 1.33em;
    margin-bottom: 20px;
  }

  ul {
    margin-block-start: 0;
    margin-block-end: 0;
  }
}

.ref-section {
  margin-bottom: 20px;

  &-header {
    font-weight: 600;
  }
}

.reference {
  margin-top: 20px;

  a {
    max-width: 100%;
    word-break: break-all;
  }
}

.contact {
  margin-top: 60px;
  margin-bottom: 60px;
}

.footer {
  background-color: #FDE6E0;
  padding: 40px 20px;

  .share-page {
    font-size: 0.875em;
  }

  .copy-right {
    font-size: 0.75em;
  }

  .sns-share-container {
    background-color: #FFFFFF;
    border-radius: 4px;
    text-decoration: none;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 0.75em;

    img {
      height: 26px;
    }

    span {
      margin-left: 10px;
    }

    &.sns-line {
      color: #00B900;
    }

    &.sns-fb {
      color: #3C5A99;
      margin-left: 15px;
      margin-right: 15px;
    }

    &.sns-twitter {
      color: #1DA1F2;

      img {
        height: 21px;
      }
    }
  }
}

.full-justify {
  text-align:justify;

  &:after {
    content: "";
    display: inline-block;
    width: 100%;
  }
}
