name: Auto deploy the Angular App to GitHub Pages

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Build and deploy
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          sudo yarn onboard
          yarn
          sudo yarn build:gh-pages --name="Deploy Bot" --email="wataru.oguchi.0to1@gmail.com"
